body {
    background-image: url(../media/gear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    background-attachment: fixed;
}

h1 {
    color: rgb(0, 233, 233);
}

.logo img,
.img-yel {
    width: 100%; /* Make the images responsive */
    max-width: 100%; /* Limit the maximum width of the images */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper alignment */
    margin: 0 auto; /* Center the images */
}

.container {
    color: rgb(0, 233, 233);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 20px; /* Add padding to the container */
}

.text {
    text-align: left;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .logo img,
    .img-yel {
        max-width: 90%; /* Adjust maximum width for smaller screens */
    }
}





    
