body {
    background-color: black;
}

h1 {color: rgb(0, 233, 233);}

.logo {text-align: right;}

.container {color: rgb(0, 233, 233);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.text {text-align: left;}

/* Add this CSS code to your styles.css file */

img {
    max-width: 100%;
    height: auto;
}

.social-icons {
    text-align: center; /* Center the social media icons */
    margin-top: 20px; /* Adjust the top margin for spacing */
}

.social-icons a {
    display: inline-block; /* Make the links behave as blocks */
    margin: 0 10px; /* Adjust the spacing between icons */
    padding: 10px; /* Add padding to create button-like appearance */
}

.social-icons img {
    width: 40px; /* Set the width of the icons */
    height: auto; /* Maintain aspect ratio */
}





    
